body {
  background-color:dimgray;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.form {
  margin-top: 20px;
}

.bio {
  text-align: center;
  color: white;
  margin-top: 16px;
}

input[type=text], select {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px;
  margin: 18px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.insultButton {
  cursor: pointer;
  margin-top: 25px;
  padding: 12px;
  margin-bottom: 50px;
  border: 0;
  font-size: 23px;
  border-radius: 5px;
  background-color:indianred;
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  width: 100%;
}

.connectButton {
  cursor: pointer;
  margin-top: 25px;
  padding: 12px;
  margin-bottom: 50px;
  border: 0;
  font-size: 23px;
  border-radius: 5px;
  background-color:indianred;
  backface-visibility: hidden;
  perspective: 1000px;
  width: 100%;
}

.insult {
  border: 0;
  border-radius: 5px;
  background-color: OldLace;
  margin-top: 26px;
  padding: 8px; 
}

.from {
  margin-bottom: 25px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, -1px, 0);
  }
  20%,
  80% {
    transform: translate3d(1px, 1px, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-1px, 1px, 0);
  }
  40%,
  60% {
    transform: translate3d(1px, -1px, 0);
  }
}